<!DOCTYPE html>
<html>
    <head>
    {% import 'macros.html' as macro%}
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best news highlights page </title>
        {% endif %}
    </head>
       <body>
        <!-- Technology News  -->
        <h3>  Technology News Headlines </h3>
        <hr>
            {{ macro.displayNewsList(technology_news)}}
        
        <!--Business News  -->
        <h3> Business News Headlines</h3>
        <ul>
            {{ macro.displayNewsList(business_news)}}
        </ul>
        <!-- Entertainment News -->
        <h3></h3>
        <ul>
            {{ macro.displayNewsList(entertainment_news)}}
        </ul>

            <!-- Sports News -->
        <h3></h3>
        <ul>
            {{ macro.displayNewsList(sports_news)}}
        </ul>

    </body>
</html>